<html>

<head>
<title>My Bio</title>
</head>

<body>

  <h1>About me<h1>
  
  Lorem Ipsum
  
  Lorem Ipsum 2
  
  <h2>Introduction<h2>
  <p>Hello, my name is Eugene</p>
  
  <h2>Eductaion<h2>
  <p>I have been studying Economics<p>
  
  <h2>Experience<h2>
  <p>I have vast work experience in Financial services</p>
  
  <h2>CV</h2>
  <p>Click the link below to download my detailed CV:</p>
  <a href=blogs/Eugene_Nesterenko_formal.jpeg>Download CV</a>


</body>
</html>
